
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="https://kit.fontawesome.com/5d6d6a5d19.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="header">
        <a href="@Url.Action("Index", "Search")"><img src="~/Images/joole Logo.png" class="header__logo"></a>
        
        <!-- For this form to refer to specific pages, I think we need to refer to current url -->
        <form class="header__search" action="/Search/OnSearch" method="post">
            <select id="search-dropdown" name="search-dropdown">
                <option class="search__dropdown-list" value="Mechanical">Mechanical</option>
                <option class="search__dropdown-list" value="Electrical">Electrical</option>
                <option class="search__dropdown-list" value="Stationary">Stationary</option>
                <option class="search__dropdown-list" value="Furniture">Furniture</option>
            </select>
            <select id="subcategory" name="subcategory" style="width: 150px; height: 35px; color: black; background-color: white; border: none; border-radius: 5px;">
            </select>
            <button id="search-submit" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div>
            @if (Session["ProfileImage"] != null)
            {
                <img src="~/Images/@Session["ProfileImage"]" class="header__user-image">
            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/search.js")
</body>
</html>
