@model JooleStoreApp.Models.SearchResultViewModel

@{
    ViewBag.Title = "SearchResult";
}


<link href="~/Content/JooleStyles/SearchResult.css" rel="stylesheet" />
<div class="filter-box">
    <div class="filter-box-title">
        Search: <button class="btn-primary">Search</button><button class="btn-primary">Clear</button>
        <hr />
    </div>
    <h4>Product Type</h4>
    @foreach (var item in Model.TypeRangeFilterList)
    {
        <label for="@Html.DisplayFor(modelItem => item.TypeName)">@Html.DisplayFor(modelItem => item.TypeName)</label>
        <select name="@Html.DisplayFor(modelItem => item.TypeName)" id="@Html.DisplayFor(modelItem => item.TypeName)">
            @foreach (var item2 in item.TypeOptions)
            {
                <option value="@item2">@item2</option>
            }
        </select>
        <br />
    }
    <hr />
    <h4>Technical Specifications</h4>
    @foreach (var item in Model.TechSpecFilterList)
    {
        <p>
            <label for="amount">PropertyId: @item.PropertyId</label>
            <input type="range" min=@item.MinValue max=@item.MaxValue readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
    }
</div>

<div class="row">
    <h4>Category>Subcategory</h4>
    <br />
    @foreach (var item in Model.Products)
    {
        <div class="column">
            <div class="card">
                <img src="@Html.DisplayFor(modelItem => item.ProductImage)" style="width:100%" alt="..." onclick="window.location='@Url.Action("Index", "ProductDetail")' + '/id=@item.ProductId'">
                <div class="container">
                    <a class="card-title" onclick="window.location='@Url.Action("Index", "ProductDetail")' + '/id=@item.ProductId'">@Html.DisplayFor(modelItem => item.ProductName)</a><br />
                    <a class="card-title">@Html.DisplayFor(modelItem => item.Series)</a><br />
                    <a class="card-title">@Html.DisplayFor(modelItem => item.Model)</a><br />
                    <p class="card-text"> 35 DBA At max speed</p>
                    <p class="card-text"> 60" fan sweep diamter</p>
                    <p class="card-text"> 120W Power Rating</p>
                    <input type="checkbox" id=@Html.DisplayFor(modelItem => item.ProductId) name=@Html.DisplayFor(modelItem => item.ProductId) value=@Html.DisplayFor(modelItem => item.ProductName)>
                    <label for=@Html.DisplayFor(modelItem => item.ProductId)> Compare</label><br>
                </div>
            </div>
        </div>
    }
</div>
<br />
<div class="compare-button">
    <button class="btn-primary" id="compare-submit">Compare</button>
</div>
<script>
    $("#compare-submit").on("click", function () {
        let url = "";
        let count = 1;
        // Check which 25 checkbox id is selected
        for (let i = 0; i < 25; i++) {
            if ($("#" + i).prop("checked") == true) {
                url += "product" + count + "Id=" + i + "&";
                count++;
            }
        }
        // Remove the last & character
        url = url.substring(0, url.length - 1);
        if (url.length >= 13 && url.length <=26) {
            window.location.replace("@Url.Action("Index", "CompareProduct")/?" + url)
        }
    })
</script>



